
.table {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.table h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* Title row styling */
.table-items-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
    color: #282727;
    border-bottom: 2px solid #ddd;
}

.table-items-title p {
    flex: 1;
    text-align: center;
    margin: 0;
}

/* Individual item rows */
.cart-items-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px 0;
    align-items: center;
    transition: background-color 0.3s ease;
}
.cart-items-item p{
    color: gray;
}

.cart-items-item:hover {
    background-color: #f1f1f1;
}

.cart-items-item p {
    flex: 1;
    text-align: center;
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}


